# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Intellij\learn-vue-js\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
